<%= form_for(@eventtime) do |f| %>
  <% if @eventtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventtime.errors.count, "error") %> prohibited this eventtime from being saved:</h2>

      <ul>
      <% @eventtime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
