<h1>Listing eventtimes</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Description</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eventtimes.each do |eventtime| %>
  <tr>
    <td><%= eventtime.start %></td>
    <td><%= eventtime.end %></td>
    <td><%= eventtime.description %></td>
    <td><%= eventtime.event.id %></td>
    <td><%= link_to 'Show', event_eventtimes_path %></td>
    <td><%#= link_to 'Edit', edit_event_eventtime_path(eventtime) %></td>
    <td><%#= link_to 'Destroy', eventtime, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Eventtime', new_event_eventtime_path %>
