%h1 Listing eventtimes
%table
  %tr
    %th Start
    %th End
    %th Description
    %th Event
    %th
    %th
    %th
  - @eventtimes.each do |eventtime|
    %tr
      %td= eventtime.start
      %td= eventtime.end
      %td= eventtime.description
      %td= eventtime.event.id
      %td= link_to 'Show', event_eventtimes_path
      -#%td= link_to 'Edit', edit_event_eventtime_path(eventtime)
      -#%td= link_to 'Destroy', eventtime, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Eventtime', new_event_eventtime_path
